<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <title>모델관리시스템-로그인</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='assets/css/font.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='assets/css/reset.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='assets/css/main.css')}}">
    <!--[if lt IE]>
		<script src="assets/js/html5shiv.min.js"></script>
		<script src="assets/js/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div>
    <div class="container">
        <div class="login-cont">
            <div class="inner">
                <div class="login-box">                    
                    <div>
                        <small><h2>로그인 실패</h2></small>
                    </div>                     
                        <small>
                            Copyright © 2018 앤시정보기술(주). All rights reserved.
                        </small>                    
                </div>
            </div>
        </div>
    </div>
</div>
<!-- scripts -->

<script src="assets/js/jquery-3.3.1.min.js"></script>
<script src="assets/js/slick.min.js"></script>
<script src="assets/js/script.js"></script>
</body>
</html>